<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Tractorbus</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <!-- Board size: 1400 x 600, player cards have top coordinate 600 -->
    <canvas id="gameCanvas" width="1400" height="800"></canvas>

    <div class="button" onclick="playButton();" style="top: 570px; left: 1050px;">Play</div>
    <div class="button" onclick="clearButton();" style="top: 605px; left: 1050px;">Clear</div>
    <div class="button" onclick="testFunc();" style="top: 640px; left: 1050px;">test</div>
    <!-- <div class="button" id="newGame" onclick="resetGame();" style="top: 640px; left: 1050px; visibility: hidden">New Game</div> -->

    <div class = "playerText" id="score" style="top:570px; left:230px">score</div>
    <div class = "playerText" id="trump-suit" style="top:300px; left:1450px">trump</div>

    <div class="playerCard" id="pc3" style="left: 542.5px; width: 86px; height: 125px; visibility: visible; z-index: 2; top: 600px;">
      <img src="/static/cards_jpeg/2C.jpg" width="86" height="125">
    </div>


    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='scripts/drawFunctions.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/socketio.js') }}"></script>
  </body>
</html>
