<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Tractorbus</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <!-- Board size: 1400 x 600, player cards have top coordinate 600 -->
    <canvas id="gameCanvas" width="1400" height="800"></canvas>

    <div class="button" onclick="playButton();" style="top: 570px; left: 1050px;">Play</div>
    <div class="button" onclick="clearButton();" style="top: 605px; left: 1050px;">Clear</div>
    <div class="button" onclick="testFunc();" style="top: 640px; left: 1050px;">test</div>
    <!-- <div class="button" id="newGame" onclick="resetGame();" style="top: 640px; left: 1050px; visibility: hidden">New Game</div> -->

    <div class = "playerText" id="score" style="top:570px; left:230px">score</div>
    <div class = "playerText" id="trump-suit" style="top:300px; left:1450px">trump</div>

    <div id="playerWrapper">
      <div class="playerCard" id="pc3" style="left: 657px; width: 86px; height: 125px; visibility: visible; z-index: 2; top: 600px;">
        <img src="/static/cards_jpeg/2C.jpg" width="86" height="125">
      </div>
    </div>

    <!-- preload images fix names-->
    <div id="preload">
      <img src="/static/cards_png/back.jpg" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/back-hor.jpg" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/1.png" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/2.png" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/3.png" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/4.png" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/5.png" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/6.png" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/7.png" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/8.png" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/9.png" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/10.png" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/11.png" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/12.png" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/13.png" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/14.png" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/15.png" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/16.png" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/17.png" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/18.png" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/19.png" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/20.png" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/21.png" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/22.png" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/23.png" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/24.png" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/25.png" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/26.png" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/27.png" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/28.png" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/29.png" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/30.png" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/31.png" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/32.png" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/33.png" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/34.png" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/35.png" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/36.png" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/37.png" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/38.png" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/39.png" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/40.png" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/41.png" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/42.png" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/43.png" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/44.png" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/45.png" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/46.png" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/47.png" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/48.png" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/49.png" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/50.png" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/51.png" width="1" height="1" alt="Image 01" />
      <img src="/static/cards_png/52.png" width="1" height="1" alt="Image 01" />
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='scripts/drawFunctions.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/socketio.js') }}"></script>
  </body>
</html>
