<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Tractorbus</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <!-- Board size: 1400 x 600, player cards have top coordinate 600 -->
    <canvas id="gameCanvas" width="1400" height="800"></canvas>

    <div class="button" onclick="playButton();" style="top: 570px; left: 1250px;">Play</div>
    <div class="button" onclick="clearButton();" style="top: 605px; left: 1250px;">Clear</div>
    <div class="button" onclick="passButton();" style="top: 640px; left: 1250px;">Pass</div>
    <div class="button" onclick="takeBack();" style="top: 675px; left: 1250px;">Take Back</div>
    <div class="button" onclick="newGame();" style="top: 710px; left: 1250px;">New Game</div>
    <!-- <div class="button" onclick="testFunc();" style="top: 710px; left: 1250px;">test</div> -->
    <!-- <div class="button" onclick="testClearCards();" style="top: 745px; left: 1250px;">test clear</div> -->
    <!-- <div class="button" id="newGame" onclick="resetGame();" style="top: 640px; left: 1050px; visibility: hidden">New Game</div> -->

    <div class="PlayerText" id="score" style="top:680px; left:0px">score</div>
    <div class="PlayerText" id="trump-suit" style="top:700px; left:0px">trump</div>

    <!-- preload images fix names-->
    <div id="preload">
      <img src="{{ url_for('static', filename='cards_png/back.jpg') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/back-hor.jpg') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/2C.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/2D.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/2H.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/2S.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/3C.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/3D.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/3H.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/3S.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/4C.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/4D.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/4H.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/4S.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/5C.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/5D.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/5H.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/5S.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/6C.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/6D.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/6H.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/6S.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/7C.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/7D.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/7H.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/7S.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/8C.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/8D.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/8H.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/8S.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/9C.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/9D.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/9H.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/9S.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/10C.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/10D.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/10H.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/10S.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/JC.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/JD.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/JH.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/JS.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/QC.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/QD.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/QH.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/QS.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/KC.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/KD.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/KH.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/KS.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/AC.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/AD.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/AH.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/AS.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/BJo.png') }}" width="1" height="1" alt="Image 01" />
      <img src="{{ url_for('static', filename='cards_png/SJo.png') }}" width="1" height="1" alt="Image 01" />
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='scripts/drawFunctions.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/socketio.js') }}"></script>
  </body>
</html>
